<!DOCTYPE html>
                <html>
                <head>
                    <meta charset="utf-8">
                    <link rel="stylesheet" href="http://dev.sayyes.co.il/transportation/client/assets/css/bootstrap.min.css">
                    <link rel="stylesheet" href="http://dev.sayyes.co.il/transportation/client/assets/css/bootstrap-rtl.css">
                    <link rel="stylesheet" href="http://dev.sayyes.co.il/transportation/client/assets/css/style.css">
                </head>
                <body>
		<!-- <h1 class="print_headline" >{{headline}}</h1> -->
		<!-- ng-if="shift.tracks&&shift.tracks.length"  -->
		<!-- ng-class="{'new_page':(!$last&&($index!=1||!$last))}" -->
		<!-- ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><div class="shift ng-scope" ng-repeat="shift in shifts" ng-if="shift.tracks&amp;&amp;shift.tracks.length" data-first="false" data-index="4" data-last="false"> 
			
		<!-- ngRepeat: track in shift.tracks | orderBy:['track_order'] | filter:sendToFilter as filtered track by $index --><div style="/*display: inline-block;width: 100%;*/" ng-repeat="track in shift.tracks | orderBy:['track_order'] | filter:sendToFilter as filtered track by $index" on-finish-render="callMyCustomMethod()" class="ng-scope">
		 
		      <div class="col-md-12 div_track" data-track="67265" style="border-bottom: 3px solid #8a8a8a;padding: 0;page-break-inside: avoid;" ng-init="j=calcHeight(track.track.id,1)" data-="" page="true">
				<!-- ng-show="j" -->
				<div class="height_div show_cot" ng-init="p=page">
					<div>
						<p style="float: right;">בס"ד</p>
						<p style="float: left;">עמוד <span class="num_page ng-binding">1</span> מתוך <span class="num_pages ng-binding">1</span></p>
						<table class="table col-md-12">
							<thead>
								<tr>
									<th class="ng-binding"> תאריך: 02/03/2019 שבת קדש</th>
									<th class="ng-binding">משמרת לילה - איסוף 22:00</th>
									<th class="ng-binding">נוסעים - 6</th>
									<th style="padding: 8px;">
										<img class="logo_img" ng-src="http://185.70.251.252/transportation/client/assets/img/logo_3.png" src="http://185.70.251.252/transportation/client/assets/img/logo_3.png">   
									</th>
								</tr>
							</thead>
						</table>
					</div>	
				</div>
				<table class="t02 top_border" ng-class="{'top_border':j}">
		        	<tbody><tr class="main_line">
		            <td style="font-weight: 700; padding:0 7px;"><span class="text_not_print ng-binding">קו 8</span><span class="text_print">בס"ד</span>
		            	<!-- ngIf: shift.isCollecting --><span ng-if="shift.isCollecting" class="ng-binding ng-scope"> - נקודת מוצא מאלעד</span><!-- end ngIf: shift.isCollecting -->
		            	<!-- ngIf: !shift.isCollecting -->
	            	 </td>  
		    	    <!-- <td style="font-weight: 700; padding: 5px;">יעד נסיעה:{{track.to}}</td>  -->
		   		    <td style="font-weight: 700; padding:0 5px;" class="ng-binding">תאריך: 02/03/2019</td>
		   		    <td style="font-weight: 700; padding:0 5px;" class="ng-binding">נוסעים: 6</td>
		   		    <td style="font-weight: 700; padding:0 5px;" class="ng-binding">נהג: פקס-חן הסעות-בלה</td> 
		   		    <td style="font-weight: 700; padding:0 5px;" class="ng-binding">טל: 0504503507</td>  	
		   		    <td></td>	    
		    		</tr>
		    		<tr class="consolidation">
		    			<td style="/*padding-top: 10px; */padding-right: 7px;" class="ng-binding">התייצבות בשעה 22:05</td>  
		    			<td colspan="2" style="/*padding-top: 10px;*/"><div class="white_div text_print"></div> <input type="checkbox" name="vehicle" value="Bike" class="input_check text_not_print">
		    				<label style="/*margin-top: 2px;*/" class="label_checkbox"> בדוק התייצבות</label></td>
		    			<td></td>
		    			<td></td>
		    			<td></td>
		    		</tr>
		     </tbody></table>
		               <table class="t03">
		                  <tbody><tr>
		                          <th style="/*padding-top:10px;*/ padding-right: 7px;"> הנחיות</th>
		                          <th style="/*padding-top:10px;*/ "><!-- ngIf: shift.isCollecting --><span ng-if="shift.isCollecting" class="ng-scope">שעה</span><!-- end ngIf: shift.isCollecting --><!-- ngIf: !shift.isCollecting --></th>   
		                          <!-- <th ng-if="shift.isCollecting" style="padding-top:20px; ">שעה</th> -->
		                          <!-- <th ng-if="!shift.isCollecting" style="padding-top:20px; "> סדר</th> -->
		                          <th style="/*padding-top:10px;*/ "> שם העובד</th>
		                          <th style="/*padding-top:10px;*/ "> כתובת</th>
		                          <th style="/*padding-top:10px;*/ "> עיר</th>
		                          <th style="/*padding-top:10px;*/ "> הנחיות קבועות</th>
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <!-- ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:15</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">יגודייב צביה  </td>
		                          <td class="ng-binding">רבישמעון בן שטח 19</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:16</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">סקידן אנה  </td>
		                          <td class="ng-binding">יהודה הנשיא 81בככר</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:18</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">טימסיט אורלי  </td>
		                          <td class="ng-binding">יוחנן בן זכאי 50</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:18</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">ריטרמן הדסה  </td>
		                          <td class="ng-binding">רבן יוחנן בן זכאי 58</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:22</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">הרוש שירן  </td>
		                          <td class="ng-binding">הלל 5</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index --><tr ng-repeat-start="worker in track.workers track by $index" class="worker_line ng-scope no_border" data-track="67265" ng-class="{'no_border':$last}">
		                          <td style="padding-right: 7px;font-weight: 700;"><!-- ngIf: countOf(worker.track_instructions)<9 --><span data-cnt="" ng-if="countOf(worker.track_instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.track_instructions)<9 --></td>
		                          <!-- ngIf: shift.isCollecting --><td ng-if="shift.isCollecting" class="ng-binding ng-scope">22:24</td><!-- end ngIf: shift.isCollecting -->
		                          <!-- ngIf: !shift.isCollecting -->
		                          <td class="ng-binding">קרביץ חיה  </td>
		                          <td class="ng-binding">רבן יוחנן בן זכאי 3 בתחנת אוטובוס</td>
		                          <td class="ng-binding"> אלעד</td>
		                          <td style="width: 24%;font-weight: 700;"><!-- ngIf: countOf(worker.instructions)<9 --><span ng-if="countOf(worker.instructions)<9" class="ng-binding ng-scope"></span><!-- end ngIf: countOf(worker.instructions)<9 --></td>   
		                          <!-- ngIf: track.hasMap -->
		                  </tr>
		                  <tr ng-repeat-end="" class="worker_line ng-scope" data-track="67265">
		                  	<!-- ngIf: countOf(worker.track_instructions)>8||countOf(worker.instructions)>8 -->
		                  </tr><!-- end ngRepeat: worker in track.workers track by $index -->
		                  <tr class="no_border">
		                      <td style="padding-right: 7px;"></td>
		                      <td></td>
		                      <td></td>
		                      <td></td>
		                      <td></td>
		                      <td></td>
		                      <td></td>
		                  </tr>
		          </tbody></table>
		           </div>
		    <!-- </td>
		    
		  </tr> -->
		  </div><!-- end ngRepeat: track in shift.tracks | orderBy:['track_order'] | filter:sendToFilter as filtered track by $index -->
		</div><!-- end ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts --><!-- ngIf: shift.tracks&&shift.tracks.length --><!-- end ngRepeat: shift in shifts -->
		<!-- ngRepeat: map in all_maps -->
	<style>
                    body{
                        padding-right: 0;
                    }
                </style>    
                <script>
                    window.onload = function() {
                        window.print();
                    };
                </script>
                <style>
                table#t01{
                     width:100%;
                     display: inline-block;
                     float: right;
                     margin-top: 8px;
                     margin-right: 8px;
                }
                
                 table.t02{
                    width: 100%;
                    background-color: #e0e0e0;
                
                 }
                
                table.t03{
                    width: 100%;
                }
                .divtitle{
                    background-color: #a7a7a7;
                    height:100px;
                    width: 100%;
                    margin-top: 8px;
                    margin-right: 8px;
                    padding-right: 8px;
                    font-size: 18px;
                    padding-top: 8px;
                }
                    
                .divsortby{
                    margin-right: 8px;
                    margin-top: 8px;
                }
                    
                .input{
                    margin-right: 10px;
                    display: inline;
                    width: 200px;
                    }
                    
                .input_select{
                    margin-right: 7px !important;
                    margin-top: 0px !important;
                    width: 30px; 
                    height: 30px;
                    margin-left: 10px !important;
                }   
                
                .input_check{
                    width: 25px; 
                    height: 25px;
                    display: inline-block;
                    float: right;
                }   
                    
                .label_sendto{
                    margin-right: 20px;
                    display: inline;
                }
                
                .label_checkbox{
                    font-weight: 500;
                    display: inline-block;
                    padding-right: 5px;
                }
                
                .sort_by_name{
                    display: inline;
                    width: 250px;
                    margin-right: 10px;
                }
                </style>
                </body>
                </html>